.users{


    .info{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        button{
            padding: 1px;
            border-radius: 3px;
            cursor: pointer;

            span{
                font-weight: bold;
                font-size: 18px;
            }
        }
    }
}